.container {
    padding-top: 50px;
}
.form-control {
    width: 60px;
}
.btn {
    font-weight: bold;
    margin-left: 30px;
}
h5, .description {
    margin-bottom: 30px;
}
h1 {
    font-weight: bold;
}
