<section>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Wyposażenie domu i ogrodu dopasowane do Ciebie!</h1>
                <p class="text-muted">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni excepturi eligendi assumenda eaque quibusdam!</p>
            </div>
        </div>
        <div class="row flex-nowrap justify-content-center">
            <article>
                <a [routerLink]="['category','5ef388a729c52024d8b0296f']">
                    <img src="/assets/img/chairs.png" alt="Krzesła">
                    <h3>Krzesła</h3>
                </a>
            </article>
            <article>
                <a [routerLink]="['category','5ef388b529c52024d8b02970']">
                    <img src="/assets/img/beds.png" alt="Łóżka">
                    <h3>Łóżka</h3>
                </a>
            </article>
            <article>
                <a [routerLink]="['category','5ef388d829c52024d8b02971']">
                    <img src="/assets/img/furniture.png" alt="Meble RTV">
                    <h3>Meble RTV</h3>
                </a>
            </article>
        </div>
    </div>
</section>