<div class="container mt-3">
    <div class="row">
        <div class="jumbotron col-12 text-center">
            <h1 class="display-3">Dziękujemy!</h1>
            <p class="lead">Twoje zamówienie jest właśnie procedowane.</p>
            <hr class="my-2">
            <p>O szczegółach powiadomimy Cię e-mailowo.</p>
            <p class="lead">
                <a class="btn btn-secondary btn-lg" [routerLink]="['/']" role="button">Wróc do sklepu</a>
            </p>
        </div>
    </div>
</div>