<div class="container">
    <div class="row no-gutters justify-content-between align-items-center mb-3">
        <h1>Koszyk</h1>
        <span>Masz pytania? Dzwoń! <b>+48&nbsp;574-44-123</b></span>
    </div>
    <div class="row">
        <div class="col-12">
            <p class="alert alert-warning" *ngIf="!cartEmpty">
                Nie posiadasz produktów w koszyku
            </p>
            <table class="table table-stripped" *ngIf="cartEmpty">
                <thead>
                    <tr>
                        <th></th>
                        <th>Nazwa</th>
                        <th>Ilość</th>
                        <th>Cena j.</th>
                        <th>Razem</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let line of cartLines; let i = index;">
                        <td><img [src]="line.product.imagePath" width="150" height="150" alt=""></td>
                        <td><strong>{{line.product.title}}</strong></td>
                        <td>{{line.quantity | number}}</td>
                        <td>{{line.product.price | number:'1.2-2'}} zł</td>
                        <td>{{line.product.price * line.quantity | number:'1.2-2'}} zł</td>
                        <td><button class="btn btn-outline-danger btn-sm" (click)="remove(i)">&times;</button></td>
                    </tr>
                    <tr class="summary text-right">
                        <th colspan="5">
                            Podatek VAT 23%:
                        </th>
                        <td colspan="2">{{total * 0.23 | number:'1.2-2'}} zł</td>
                    </tr>
                    <tr class="summary text-right">
                        <th colspan="5">
                            W sumie (netto):
                        </th>
                        <td colspan="2">{{total / 1.23 | number:'1.2-2'}} zł</td>
                    </tr>
                    <tr class="summary text-right">
                        <th colspan="5">
                            W sumie (brutto):
                        </th>
                        <td colspan="2" class="text-success h4"><strong>{{total | number:'1.2-2'}} zł</strong></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row" *ngIf="cartEmpty">
        <div class="col-12 text-right">
            <a [routerLink]="['/order/step1']" class="btn btn-success btn-lg">Przejdź do zamówienia &raquo;</a>
        </div>
        <img src="/assets/img/Pasek_banki_karty.png" alt="" class="img-fluid">
    </div>
</div>